.read-more {
    font-family: DINWeb-Bold, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #2f5799;
}

    .read-more:hover {
        color: #f49913;
    }

.job ul {
    color: #2f5799;
    padding-left: 20px;
    margin-bottom: 10px;
}

    .job ul li p {
        color: #000;
        margin-bottom: 5px;
    }

@media (max-width: 767px) {
    .read-more {
        font-size: 17px;
    }

    .job h3 {
        font-size: 15px;
        margin: 0 0 15px 0;
    }
}
