@section ComponentStyles {

    <link href="~/Content/Components/BoxGrid.css" rel="stylesheet" />

}

    <!-- blog boxgrid -->

    <div class="container" >

        <div class="row nav-padding">

            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-midblue">
                <a href="blog-article.html"><h2>Dealing with conflict</h2></a>
                <p><small>Posted on May 7, 2013	 by Wendy</small></p>
            </div>

            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-image">
                <a href="blog-article.html"><img class="img-responsive" src="/Images/BlogList/blog-placeholder-1.jpg" alt=""></a>
                <div class="hover-caption fade-all">
                    <h2>Post Title to <br>go here</h2>
                    <p><small>Posted on May 7, 2013	 by Wendy</small></p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-orange">
                <a href="blog-article.html"><h2>Catch 22: Building Great Software</h2></a>
                <p><small>Posted on May 7, 2013	 by Wendy</small></p>
            </div>


            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-image">
                <a href="blog-article.html"><img class="img-responsive" src="/Images/BlogList/blog-placeholder-2.jpg" alt=""></a>
                <div class="hover-caption fade-all">
                    <h2>Post Title to <br>go here</h2>
                    <p><small>Posted on May 7, 2013	 by Wendy</small></p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-lightblue">
                <a href="blog-article.html"><h2>The 7 types of customer value</h2></a>
                <p><small>Posted on May 7, 2013	 by Wendy</small></p>
            </div>

            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-darkblue">
                <a href="blog-article.html"><h2>Context Switching</h2></a>
                <p><small>Posted on May 7, 2013	 by Wendy</small></p>
            </div>


            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-midblue">
                <a href="blog-article.html"><h2>Using Demos as a Training Mechanism</h2></a>
                <p><small>Posted on May 7, 2013	 by Wendy</small></p>
            </div>

            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-orange">
                <a href="blog-article.html"><h2>Minifying Your JS and CSS with Cassette</h2></a>
                <p><small>Posted on May 7, 2013	 by Wendy</small></p>
            </div>

            <div class="col-xs-6 col-sm-4 clickable blogbox boxgrid blogbox-image">
                <a href="blog-article.html"><img class="img-responsive" src="/Images/BlogList/blog-placeholder-3.jpg" alt=""></a>
                <div class="hover-caption fade-all">
                    <h2>Post Title to <br>go here</h2>
                    <p><small>Posted on May 7, 2013	 by Wendy</small></p>
                </div>
            </div>


        </div>


    <div class="row pb">
        <div class="col-md-12 ct">
            <div class="db">
                <img class="blog-load-ico" src="/Images/BlogList/blog-loader.gif" alt="">
            </div>
            <a class="btn-load">LOAD MORE</a>
        </div>
    </div>

</div>
    <!-- close blog boxgrid -->

@section ComponentScripts {

    <script src="/Scripts/Components/BoxGrid.js"></script>

}