@section ComponentStyles {
    <link href="~/Content/Components/Clients.css" rel="stylesheet" />
}

    <div class="container">
        <div class="row pb content lead">


            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="/Images/Clients/asos.gif" alt="ASOS helping create a fashion destination">
            </div>

            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="~/Images/Clients/AVEVA.gif" alt="AVEVA delivering mobile first campaign sites">
            </div>

            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="~/Images/Clients/Conservatives.gif" alt="Conservatives people behind the website in 2010 and 2015">
            </div>

            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="~/Images/Clients/dyson.gif" alt="Dyson a global ecommerce website">
            </div>

            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="~/Images/Clients/easyJet.gif" alt="easyJet helping fill two planes every minute">
            </div>

            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="~/Images/Clients/Sophos.gif" alt="Sophos power to the partners">
            </div>

            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="~/Images/Clients/Taylor and Francis.gif" alt="Taylor & Francis terabytes of data with streamlined processes">
            </div>

            <div class="col-xs-6 col-sm-3 client-logo">
                <img class="img-responsive" src="~/Images/Clients/Wateraid.gif" alt="WaterAid optomised mobile donations">
            </div>

        </div>
    </div>
    <!-- close clients -->
