@section ComponentStyles {
    <link href="~/Content/Components/Footer.css" rel="stylesheet" />
}

    <footer>
        <div class="container">
            <p>Give us a call on <a>+44 (0) 117 932 7700</a></p>

            <div class="social">
                <a class="linkedin" href="https://www.linkedin.com/company/true-clarity" target="_blank"><i class="icon-linkedin"></i></a>
                <a class="twitter" href="https://twitter.com/technologytalks" target="_blank"><i class="icon-twitter"></i></a>
            </div>

        </div>
    </footer>

