<div class="container">

    <div class="row ptpb">

        <div class="col-md-4"><h2>Ping us a message</h2></div>
        <div class="col-md-8">

            <form role="form">
                <div class="row">

                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Telephone">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Where did you hear about us?">
                    </div>
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="3" placeholder="Project overview"></textarea>
                        <button type="submit" class="btn btn-submit fade-all">Send</button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>


