<div class="background">
    <div class="container">
        <div class="content lead">
            <p>
                Hello. We are True Clarity.
            </p>
            <p>
                We believe in small tight-knit stable teams who work directly with clients.
                That way quality goes up and speed to market comes down.
            </p>
            <p>
                With deep expertise in .NET, Sitecore, DevOps, ecommerce, big data, mobile web and cloud.
                We are techies.
                We build resilient, scalable and secure software.
            </p>
            <p>
                We challenge convention and relentlessly hunt out value in the space
                between our clients' customers and their IT systems.
            </p>
        </div>
    </div>
</div>


