<div class="background">
    <div class="container">
        <div class="content lead">
            <p>
                Here at True Clarity, you'll love the atmosphere; we believe in bright,
                happy surroundings that allow us to work hard and socialise too!
                We have a company football team for all abilities, monthly nights
                out (on us) and our fab summer and Christmas parties.
            </p>
            <p>
                We even look after your health with daily free fruit deliveries to pep up your
                vitamin C levels and of course, there's coffee and biscuits too.
            </p>
            <p>
                Take a further look below and you'll see why culture is at the heart of
                everything we do.
            </p>
        </div>
    </div>
</div>


