<div class="container">

    <div class="row ptpb job">
        <div class="col-md-6">
            <h2>
                Graduate Software Developers
            </h2>
            <h3>London and Bristol</h3>
        </div>
        <div class="col-md-6">
            <p>We have a track record of hiring graduates. Each year we hire very bright, passionate developers straight out of university and train them in professional software development standards.</p>

            <p>To apply you need to be very bright, with demonstrable evidence in your academic achievement, coupled with a love of technology and writing great code.</p>

            <p>You'll work on high profile projects with cutting edge technology and like-minded people.</p>
        </div>
    </div>

    <div class="row ptpb job">
        <div class="col-md-6">
            <h2>
                Developers
            </h2>
            <h3>London and Bristol</h3>
        </div>
        <div class="col-md-6">
            <p>True Clarity have a reputation for writing high performance enterprise class responsive web solutions. We build websites which are robust enough to process enormous levels of traffic. The systems we develop are real world, tangible applications that are used by millions of people.</p>

            <p>Developers work on full lifecycle, full stack roles working on the database through to the front end, using the latest programming tools and with an emphasis on best practice. Techs include: C#, ASP.NET, Responsive CSS, JavaScript, HTML5, SQL Server / Mongo DB.</p>

            <p>We always want to speak with great developers.</p>
        </div>
    </div>

    <div class="row ptpb job">
        <div class="col-md-6">
            <h2>
                Principal Developers
            </h2>
            <h3>London and Bristol</h3>
        </div>
        <div class="col-md-6">
            <p>The role of Principal Developer at True Clarity is not one that is easy to pigeon hole. You will be an innovator, technical architect, programmer, mentor and role model, confident leading and directing a team and liaising with customers. The quality of your work is proven by the capability it gives to the customer and users and the learning it shares with the rest of our organisation.</p>
            <p>A senior role and a key role in the team. The sort of person who is right for the role isn’t definable by the tools or libraries they use – they can absorb the appropriate technologies at the right time – the only constraint is that we typically deploy into the Microsoft stack and we typically develop in C# .NET</p>
            <p>If you have something to say drawn from your previous experience, or if you have something you can teach us – we are particularly keen to hear from you. </p>
        </div>
    </div>

    <div class="row ptpb job">
        <div class="col-md-6">
            <h2>
                Sitecore Specialists
            </h2>
            <h3>London and Bristol</h3>
        </div>
        <div class="col-md-6">
            <p>True Clarity have a reputation for writing high performance enterprise class Sitecore solutions. We are a Sitecore Gold Partner, have three Sitecore MVPs (out of 14 in the UK) and are winners of Sitecore Site of the Year, Sitecore Best Mobile Site, Sitecore Best ROI Site, Sitecore Best Customer and User Experience Site, Sitecore Best Travel and Hospitality Site and Sitecore Best Manufacturing, Automotive and Technology Site.</p>
            <p>If you are an experienced Sitecore Developer (or are still learning the ropes but like what you have seen so far) then please get in touch.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="white-bg p40 overflow">
                <div class="col-md-6">
                    <h3 class="mt0">Candidate Personal Profile:</h3>
                    <p>Attitude is key. You will be passionate about technology, getting things done, making commitments and getting great software delivered. You will need to have an approach of – it needs doing, let me at it.</p>
                </div>
                <div class="col-md-6">
                    <p>Working as a part of a multi-skilled team you will determine on a day to day basis where to focus your attentions for the best interests of the team and customers. You will always be evolving in the role. You will always be questioning ‘why’ we are doing things, learning and looking for improvements and new techniques we can assimilate into the company. In turn we will help nurture your potential and talent.</p>
                </div>
            </div>
        </div>
    </div>
</div>

