@section ComponentStyles {
    <link href="~/Content/Components/Title.css" rel="stylesheet" />
    <link href="~/Content/Components/Map.css" rel="stylesheet" />
}

<div class="intro contact-intro">
    <div class="h100 display-table pr">

        <div class="display-table-cell map-headline map1">
            <address>
                The Hay Barn<br />
                Londonderry Farm<br />
                Keynsham Road<br />
                Willsbridge<br />
                Bristol<br />
                BS30 6EL<br />
            </address>

            <a>+44 (0)117 932 7700</a><br>
            <a class="long-email">info@trueclarity.co.uk</a>

        </div>

    </div><!-- /.container -->

    <div id="map_canvas1"></div>

</div>

<div class="intro contact-intro">
    <div class="h100 pr">

        <div class="map-headline map2">
            <address>
                32nd Floor<br />
                Euston Tower<br />
                286 Euston Rd Kings Cross<br />
                London<br />
                NW1 3DP<br />
            </address>

            <a>+44 (0)117 932 7700</a><br>
            <a class="long-email">info@trueclarity.co.uk</a>
        </div>

    </div><!-- /.container -->

    <div id="map_canvas2"></div>

</div>

@section ComponentScripts {
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language="></script>
    <script src="/Scripts/Components/Map.js"></script>
}

