<!-- statement blocks -->
<div class="white-bg">
    <div class="container">
        <div class="row pt col-md-display-table">
            <div class="col-md-6 col-md-display-table-cell">
                <h2>We’ll give you options</h2>
                <p>A career at True Clarity gives you options. You’ll contribute to projects right from the start, moving at your own pace, whether that’s in a tech, team leading, or business facing direction. Just let us know what gets you going in the mornings.</p>
            </div>
            <div class="col-md-6 statement-block">
                <img class="img-responsive statement-fade-up" src="/Images/StatementBlocks/options-statement.png">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt col-md-display-table">
        <div class="col-md-6 col-md-pull-right col-md-display-table-cell">
            <h2>We’re social</h2>
            <p>Socialising has always been important at True Clarity. We have monthly get-togethers, a Christmas party, and regular summer boat trips. You’ll even find room to socialise in the office, with Xbox and pool table areas ready and waiting.</p>
        </div>
        <div class="col-md-6 statement-block">
            <img class="img-responsive statement-fade-up" src="/Images/StatementBlocks/social-statement.png">
        </div>
    </div>
</div>

<div class="white-bg">
    <div class="container">
        <div class="row pt col-md-display-table">
            <div class="col-md-6 col-md-display-table-cell">
                <h2>We’re thinking long term</h2>
                <p>It’s the work that will keep you excited in the long term. You’ll be able to see your impact on customers develop over time, and our customer relationships tend to be measured in years not months. If you want to work with a different customer every day, don’t come here.</p>
            </div>
            <div class="col-md-6 statement-block">
                <img class="img-responsive statement-fade-up" src="/Images/StatementBlocks/longterm-statement.png">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt col-md-display-table">
        <div class="col-md-6 col-md-pull-right col-md-display-table-cell">
            <h2>We’re technical</h2>
            <p>Above all, True Clarity is a technical company. Everyone thrives on complex development challenges so things will be technical right from the start. The standard of code is high, so expect to learn a lot from everyone here.</p>
        </div>
        <div class="col-md-6 statement-block">
            <img class="img-responsive statement-fade-up" src="/Images/StatementBlocks/technical-statement.png">
        </div>
    </div>
</div>

<div class="white-bg">
    <div class="container">
        <div class="row pt col-md-display-table">
            <div class="col-md-6 col-md-display-table-cell">
                <h2>We're a lean company</h2>
                <p>We don’t have layers and layers of management and our structure is based on proven track records of outstanding delivery. We love working in teams, and where possible each team has only one or two customers to work with. </p>
            </div>
            <div class="col-md-6 statement-block">
                <img class="img-responsive statement-fade-up" src="/Images/StatementBlocks/lean-statement.png">
            </div>
        </div>
    </div>
</div>
<!-- close statement blocks -->