<div class="background title image easyjet">
    <div class="container">
        <div class="content">
            <h1>
                Helping <em>easyJet</em> fill two places every minute
                during their January sales
            </h1>
        </div>
    </div>
</div>