<div class="background title image conservatives">
    <div class="container">
        <div class="content">
            <h1>
                The power behind the <em>Conservatives</em> digital election
            </h1>
        </div>
    </div>
</div>