<div class="background title image culture">
    <div class="container">
        <div class="content">
            <h1><em>Honesty and simplicity</em> are fundamental to the way we work.</h1>
        </div>
    </div>
</div>