<div class="background title image wateraid">
    <div class="container">
        <div class="content">
            <h1>Helping <em>WaterAid</em> to provide safe water, hygiene and sanitation</h1>
        </div>
    </div>
</div>