<div class="background title image dyson">
    <div class="container">
        <div class="content">
            <h1>
                Creating a <em>Dyson</em>  mobile experience for
                in store purchase
            </h1>

        </div>
    </div>
</div>